@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Roboto&display=swap');

html, body {
    background-color: #fafafa;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

header {
    max-width: 840px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-left: 7px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
}

section {
    max-width: 840px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-left: 7px solid #003875; /* #0C5CAC #336699 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
}

footer {
    max-width: 840px;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #111111;
    margin: 0 0 20px !important;
    display: flex;
    font-weight: 700;;
}

h1 {
    font-size: 1.5em;
    color: #222222;
    margin: 0 0 20px;
    line-height: 1.1;
}

h2 {
	font-size: 1.2em;
    color: #333333;
    position: relative;
    line-height: 1.1;
}

h2:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: #003875;
    display: block;
}

h3 {
	font-size: 1.1em;
    color: #333333;
    position: relative;
    line-height: 1;
	bottom: -5px;
}

h4, h5, h6 {
    color: #333333;
    margin: 0 0 10px;
}

p, table, pre, dl {
    margin: 0 0 20px;
    /*margin: 0;*/
}

a {
    color: #0C5CAC;
    text-decoration: none;
}

a:hover {
    color: #003875;
    text-decoration: underline;
}

b {
    font-weight: 500;
}

.sparse-list {
    padding-bottom: 15px;
}

.sparse-list:last-child {
    padding-bottom: 0;
}

.small {
    margin-top: -50px;
    font-size: 0.85em;
}

/* =============== HEADER =============== */
#header-info { 
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    max-height: 180px;
    padding-bottom: 10px;
}

#profile {
    display: flex;
    align-items: center;
    height: 180px;
    width: auto;
}

#header-info img {
    width: auto;
    height: 160px;
    margin: 10px;
    float: right;
}

#header-bio {
    font-size: 1.0em;
}

.quote {
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.quote::before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 0;
    position: relative;
    top: 9px;
    color: #ccc;
    font-size: 2em;
}

.quote::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 0;
    position: relative;
    top: 9px;
    color: #ccc;
    font-size: 2em;
}

/* =============== FOOTER =============== */
#btn {
    display: none;
    font-size: 2rem;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99;
    color: #003875;
}

#btn:hover {
    cursor: pointer;
    color: #0C5CAC;
}
